# Virtual Environment
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / Packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Flask
instance/
.webassets-cache

# Unit Test / Coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# User Uploaded Content
static/photos/*
!static/photos/.gitkeep

# Editor / IDE
.idea/
.vscode/
*.swp
*.swo

# OS Generated
.DS_Store
Thumbs.db
